@import url(font.css);

:root {
  --color-theme-basic: rgb(8, 8, 8);
  --choco-primary: #4d2e07;
  --choco-hover: #af8f68;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

/* utility class */

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* style */

.course-title {
  background: var(--color-theme-basic);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #4d2e07;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.brand {
  margin: 0 30px;
  font-weight: 600;
  font-size: 20px;
}

.course-brand-responsive {
  display: none;
}

.title {
  font-weight: 600;
}

.garis {
  margin: 0 15px 0 15px;
}

.title-content-text {
  color: rgb(197, 197, 197);
  font-weight: 600;
}

.title-content-recent {
  color: rgb(197, 197, 197);
}

.profile {
  width: 35px;
  height: 35px;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid var(--choco-primary);
  transition: 0.3s;
}

.profile:hover {
  border: 2px solid var(--choco-hover);
}

.content {
  display: flex;
  height: 450px;
  border-bottom: 1px solid #4d2e07;
}

.title-content {
  /* margin-left: -10px; */
  font-size: 18px;
}

.list-materi {
  width: 30%;
  background: black;
}

.list-materi-detail {
  margin: 30px 30px 0;
}

.video {
  background: rgb(24, 24, 24);
  width: 70%;
}

.note {
  background: rgb(14, 11, 11);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 300px;
}

.note-text {
  margin-left: 30px;
  margin-top: 10px;
}

.materi {
  transition: 0.3s;
  margin-left: 10px;
}

.materi:hover {
  cursor: pointer;
  color: var(--choco-hover);
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--choco-hover);
}

#catatan {
  background: rgb(14, 11, 11);
  color: white;
  border: none;
  margin-top: 30px;
  padding: 10px 20px 10px 5px;
  padding-right: 50px;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  border-bottom: 1px solid var(--choco-hover);
}

#catatan:focus {
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid var(--choco-primary);
}

#catatan::placeholder {
  font-size: 16px;
}

#tombol {
  background: var(--choco-primary);
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

#tombol:hover {
  background: var(--choco-hover);
  color: black;
}

@media screen and (max-width: 600px) {
  .brand {
    display: none;
  }

  .course-brand-responsive {
    background: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--choco-primary);
  }

  .brand-responsive {
    font-weight: 600;
    font-size: 20px;
  }

  .title {
    margin-left: 30px;
  }

  .content {
    flex-direction: column-reverse;
  }

  .list-materi {
    width: 100%;
  }

  .video {
    width: 100%;
    height: 250px;
    overflow: auto;
    border-bottom: 1px solid var(--choco-primary);
  }

  .comment {
    display: flex;
    flex-direction: column;
  }

  #tombol {
    padding: 10px 0;
    width: 100px;
    margin-top: 20px;
    align-self: flex-end;
  }

  .list-materi-detail {
    margin-bottom: 35px;
  }
}
