@import url(font.css);

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

/* utility class */

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* style */

.course-title {
  background: rgb(8, 8, 8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.brand {
  margin: 0 30px;
  font-weight: 600;
  font-size: 20px;
}

.title {
  font-weight: 300;
}

.garis {
  margin: 0 15px 0 15px;
}

.title-content-text {
  color: rgb(197, 197, 197);
  font-weight: 600;
}

.title-content-recent {
  color: rgb(197, 197, 197);
}

.profile {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  border-radius: 50%;
}

.content {
  display: flex;
  height: 450px;
}

.title-content {
  /* margin-left: -10px; */
  font-size: 18px;
}

.list-materi {
  width: 30%;
  background: black;
}

.list-materi-detail {
  margin: 30px 30px 0;
}

.video {
  background: rgb(24, 24, 24);
  width: 70%;
}

.note {
  background: rgb(14, 11, 11);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 300px;
}

.note-text {
  margin-left: 30px;
  margin-top: 10px;
}

.materi {
  transition: 0.3s;
  margin-left: 10px;
}

.materi:hover {
  cursor: pointer;
  color: rgb(190, 190, 190);
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgb(190, 190, 190);
}

#catatan {
  background: rgb(14, 11, 11);
  color: white;
  border: none;
  margin-top: 30px;
  padding: 10px 20px 10px 5px;
  padding-right: 50px;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

#catatan:focus {
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid white;
}

#catatan::placeholder {
  font-size: 16px;
}

#tombol {
  background: rgb(12, 132, 148);
  color: black;
  border: none;
  padding: 10px 15px;
  text-align: center;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

#tombol:hover {
  background: rgb(55, 169, 184);
}
