@import url(font.css);

body {
  background: rgb(8, 8, 8);
  text-align: center;
  color: white;
  font-family: "Karla", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  font-size: 50px;
  margin-top: -10px;
}

.list-content {
  background: #422706;
  /* background: rgb(0, 83, 109); */
  padding: 25px 60px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #422706;
}

p {
  font-size: 20px;
}

.desc {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  color: #af8f68;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(8, 8, 8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
}

.preloader--hidden {
  opacity: 0;
  visibility: hidden;
}

.preloader:after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #422706;
  border-radius: 50%;
  animation: loading 1.3s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
